.post {
    background-image: url(../../images/Bitmap\ \(7\).jpg);
    width: 770px;
    height: 445px;
    position: relative;
    margin-bottom: 180px;
}

.post:nth-child(2) {
    background-image: url(../../images/Bitmap\ \(8\).jpg);
}

.post:nth-child(3) {
    background-image: url(../../images/Bitmap\ \(9\).jpg);
}

.post:nth-child(4) {
    background-image: url(../../images/Bitmap\ \(10\).jpg);
}

.post:nth-child(5) {
    background-image: url(../../images/Bitmap\ \(11\).jpg);
}